doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    header
      img.logo(src='/buzzer-logo.svg')

    div.container
      h2="Joined Users"
      ol.js-active
        each user in users
          li=`${user}`
      h2="Buzzed"
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name}`
      button.js-clear='Clear buzzes'

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
