doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body.js-body
    header
      img.logo(src='/buzzer-logo.svg')

    div.container
      form.view.js-join
        h2="Let's play!"
        ul
          li="Adapted code from"
          a(href="https://github.com/bufferapp/buzzer") this GitHub repository
          li="It's basic, but will do the job!"
          li="Known bug: if you disconnect it doesn't remove your name. It's ok, you can rejoin on the same name but it doesn't show this to the host. I will fix this if this is a problem."
          li="Host: on the URL, add /host to view the host screen. I trust you all (lol) to not go here as it messes up the system."
          li="This does make use of the browser's Local Storage functions, I guess I have to say by playing this you agree to a cookie being used."
        input(type='text' name='name' placeholder='Your name' required='required')
        button(type='submit')='Join!'


      div.view.js-joined.hidden
        button.js-buzzer.buzzer()='Buzz'
        p.js-joined-info=""

    script(src='/socket.io/socket.io.js')
    script(src='/join.js')
